/***************************************************************************
 *  																	   *
 *																		   *
 *	     ___           ___           ___           ___           ___       *
 *	    /  /\         /  /\         /  /\         /  /\         /  /\      *
 *	   /  /::\       /  /::|       /  /::\       /  /::\       /  /::\     *
 *	  /  /:/\:\     /  /:|:|      /  /:/\:\     /  /:/\:\     /  /:/\:\    *
 *	 /  /:/  \:\   /  /:/|:|__   /  /:/  \:\   /  /:/  \:\   /  /::\ \:\   *
 *	/__/:/ \  \:\ /__/:/ |:| /\ /__/:/ \__\:| /__/:/ \  \:\ /__/:/\:\ \:\  *
 *	\  \:\  \__\/ \__\/  |:|/:/ \  \:\ /  /:/ \  \:\  \__\/ \  \:\ \:\_\/  *
 *	 \  \:\           |  |:/:/   \  \:\  /:/   \  \:\        \  \:\ \:\    *
 *	  \  \:\          |__|::/     \  \:\/:/     \  \:\        \  \:\_\/    *
 *	   \  \:\         /__/:/       \__\::/       \  \:\        \  \:\      *
 *	    \__\/         \__\/            ~~         \__\/         \__\/      *
 * 																		   *
 *																		   *
 ***************************************************************************/

html, body{
	width: 100%;
	height: 100%;
}

body{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	text-transform: uppercase;
	letter-spacing: 0.4rem;
	font-weight: lighter;
}

b{
	font-weight: bold;
}



.rounded{
	border-radius: 50% !important;
}

.semi-rounded{
	border-radius: 2rem !important;
}

.relative{
	position: relative;
}

.hidden{
	display: none;
}

.z-depth-half{
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, .06) !important;
}

.md-form label{
	font-weight: normal;
	white-space: nowrap;
}

.md-form.form-sm .prefix {
    top: .8rem;
    font-size: 1.2rem;
}

.select-wrapper+label{
	white-space: nowrap;
}

.switch label .lever{
	background-color: #eaeaea;
}

.switch label .lever:after{
	box-shadow: 0 0.0625rem 0.1875rem 0.0625rem rgba(0, 0, 0, 0.12);
}

.was-validated .cndce-select-wrapper input.search{
	background: none;
	border-bottom: initial;
}


.scrollbar-gray::-webkit-scrollbar {
width: 5px;
background-color: #F5F5F5; }

.scrollbar-gray::-webkit-scrollbar-thumb {
/*border-radius: 10px;*/
/*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);*/
background-color: #e2e2e2; }


.cndce-template{
	display: none;
}

.cndce-select-wrapper{
	position: relative;
	padding-top: 1px;
}

.cndce-dropzone{
	border: 4px dashed #f5f5f5;
	background-color: #e8e8e8;
	border-radius: 1rem;
	min-height: 17rem;
	text-align: center;

	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.cndce-dropzone.dz-drag-hover{
	border: 2px solid #4285f4;
	background-color: #4285f4;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, .06);

}

.cndce-dropzone .dz-message{
	position: absolute;
	left: 50%;
	top: 50%;
	color: #6f6f6f;
	letter-spacing: 0.1rem;
	margin: 0;

	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.cndce-dropzone.dz-drag-hover .dz-message{
	color: white;
	opacity: 1;
	display: block;
}


.cndce-dropzone .dz-preview{
	min-height: unset;
	background: #ffffffb5 !important;
	margin: 0.5rem;
	padding: 1rem;
	border-radius: 1rem;

	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.cndce-dropzone.dz-drag-hover .dz-preview{
	display: none !important;
}

.cndce-dropzone .dz-preview .dz-image{
	width: 3rem;
	height: 3rem;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	   -moz-box-flex: 0;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
}

.cndce-dropzone .dz-preview .dz-image img{
	width: 100%;
	height: 100%;
	-webkit-filter: unset !important;
	        filter: unset !important;
}

.cndce-dropzone .dz-preview .dz-details{
	position: relative;
	min-width: unset;
	max-width: unset;
	opacity: 1;
	text-align: left;
	padding: 0 0.5rem;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	   -moz-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}

.cndce-dropzone .dz-preview .dz-details .dz-size{
	margin: 0;

}

.cndce-dropzone .dz-preview .dz-details .dz-filename{
	white-space: normal;
}

.cndce-dropzone .dz-preview .dz-details .dz-size span,
.cndce-dropzone .dz-preview .dz-details .dz-filename span{
	background: none !important;
	border: none !important;
	word-break: break-all;
}

.cndce-dropzone .dz-preview .dz-remove{
	font-size: 0;
}

.cndce-dropzone .dz-preview .dz-remove::before{
	content: "\f1f8";
	font-family: "Font Awesome 5 Free";
	font-size: 1rem;
	font-weight: 900;
}

.cndce-dropzone .cndce-icon{
	font-size: 8rem;
	color: #c5c5c5;
	margin-bottom: 1rem;
	display: block;

	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.cndce-dropzone.dz-drag-hover .cndce-icon{
	color: white;
}


.dropzone .dz-preview.dz-image-preview{
	background: none;
}

.dropzone .dz-preview .dz-error-message{
	width: 100%;
	top: 100%;
	left: 0;
}


.cndce-slider.noUi-target{
	border: none;
	background: #eaeaea;
	border-radius: 1rem;
}

.cndce-slider .noUi-handle{
	background: #4182ee;
    box-shadow: unset;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    outline: none;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, .06);

    -webkit-transition: box-shadow 0.3s ease-in-out;
    -o-transition: box-shadow 0.3s ease-in-out;
    -moz-transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
}

.cndce-slider .noUi-handle:hover{
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

.cndce-slider .noUi-handle::before,
.cndce-slider .noUi-handle::after{
	content: unset;
}

.cndce-slider .noUi-pips{
	padding-top: 0.22rem;
	color: #565656;
	font-size: 80%;
	line-height: 130%;
}

.cndce-slider .noUi-marker.noUi-marker-horizontal.noUi-marker-normal {
    width: 1px;
}

.cndce-slider .noUi-marker.noUi-marker-horizontal.noUi-marker-large {
    height: 8px;
}


#cndce-survey-container{
	overflow-x: hidden;
}

#cndce-survey-container .cndce-container-title{
	white-space: nowrap;
    font-size: 1.5rem;
}


#cndce-start-survey-container{
	z-index: 15;
	-webkit-transition: all 0.35s cubic-bezier(0.41, 0.54, 0.33, 1.22);
	-o-transition: all 0.35s cubic-bezier(0.41, 0.54, 0.33, 1.22);
	-moz-transition: all 0.35s cubic-bezier(0.41, 0.54, 0.33, 1.22);
	transition: all 0.35s cubic-bezier(0.41, 0.54, 0.33, 1.22);

	-webkit-box-flex: 0;
	-webkit-flex: 0 0 91.666667%;
	   -moz-box-flex: 0;
	    -ms-flex: 0 0 91.666667%;
	        flex: 0 0 91.666667%;
	max-width: 91.666667%;
}

#cndce-start-survey-container.cndce-collapse{
	background-color: #eee;
	-ms-flex: 0 0 27%;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 27%;
	   -moz-box-flex: 0;
	        flex: 0 0 27%;
	max-width: 27%;
}

#cndce-start-survey-container .cndce-start-survey-row{
	padding: 1.5rem 3rem 1.5rem 3rem;
	margin: 0;

	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#cndce-start-survey-container.cndce-collapse .cndce-start-survey-row{
	padding: 1rem;
}


#cndce-start-survey-container .cndce-start-survey-col{
	padding: 0 1rem;
	-ms-flex: 0 0 33.333333%;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 33.333333%;
	   -moz-box-flex: 0;
	        flex: 0 0 33.333333%;
}

#cndce-start-survey-container.cndce-collapse .cndce-start-survey-col{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 100%;
	   -moz-box-flex: 0;
	    -ms-flex: 0 0 100%;
	        flex: 0 0 100%;
    max-width: 100%;
}

#cndce-start-survey-container .cndce-next-button-container{
	padding: 0.5rem 0 0.5rem 0;
	text-align: center;
	overflow: hidden;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	   -moz-box-flex: 0;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	width: auto;
	max-width: 100%;
}

#cndce-start-survey-container.cndce-collapse .cndce-next-button-container{
	padding: 0;
	max-height: 0;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 0;
	   -moz-box-flex: 0;
	    -ms-flex: 0 0 0px;
	        flex: 0 0 0;
}


/*#cndce-generate-survey-button{
	width: 25%;
	letter-spacing: 0.1rem;

	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#cndce-start-survey-container.cndce-collapse #cndce-generate-survey-button{
	width: 96%;
	margin: 0 2% 0 2%;
}*/



#cndce-basic-details-container{
	position: relative;
	z-index: 10;
	background-color: #eee;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 8.333333%;
	   -moz-box-flex: 0;
	    -ms-flex: 0 0 8.333333%;
	        flex: 0 0 8.333333%;
	max-width: 8.333333%;
	-webkit-transition: all 0.35s cubic-bezier(0.41, 0.54, 0.33, 1.22);
	-o-transition: all 0.35s cubic-bezier(0.41, 0.54, 0.33, 1.22);
	-moz-transition: all 0.35s cubic-bezier(0.41, 0.54, 0.33, 1.22);
	transition: all 0.35s cubic-bezier(0.41, 0.54, 0.33, 1.22);
}

#cndce-basic-details-container.cndce-show{
	background-color: white;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 65%;
	   -moz-box-flex: 0;
	    -ms-flex: 0 0 65%;
	        flex: 0 0 65%;
	max-width: 65%;
}

#cndce-basic-details-container.cndce-collapse{
	/*position: absolute;*/
	height: 100%;
	background-color: white;
	-ms-flex: 0 0 27%;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 27%;
	   -moz-box-flex: 0;
	        flex: 0 0 27%;
	max-width: 27%;
}


#cndce-basic-details-container .scrollbar,
#cndce-basic-details-container .cndce-next-button-container,
#cndce-basic-details-container.cndce-collapse .cndce-next-button-container{
	display: none;
}

#cndce-basic-details-container.cndce-show .scrollbar,
#cndce-basic-details-container.cndce-show .cndce-next-button-container,
#cndce-basic-details-container.cndce-collapse .scrollbar{
	display: block;

}


#cndce-basic-details-container .cndce-basic-details-row{
	padding: 1.5rem 3rem;
}

#cndce-basic-details-container.cndce-collapse .cndce-basic-details-row{
	padding: 1.5rem;
}

#cndce-basic-details-container .cndce-basic-details-col{
	position: relative;
	padding: 0 1rem;
	-ms-flex: 0 0 50%;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 50%;
	   -moz-box-flex: 0;
	        flex: 0 0 50%;
}

#cndce-basic-details-container.cndce-collapse .cndce-basic-details-col{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 100%;
	   -moz-box-flex: 0;
	    -ms-flex: 0 0 100%;
	        flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 1.5rem;
}

#cndce-basic-details-container .cndce-next-button-container{
	padding: 0.5rem 0 0.5rem 0;
	text-align: center;
	overflow: hidden;
}



/* Basic Details Container - Dragged */

#cndce-basic-details-container.dragenter .cndce-basic-details-row{
	position: relative;
}



#cndce-basic-details-container.dragenter .cndce-basic-details-col{
	position: static;
}


#cndce-basic-details-container.dragenter #cndce-files-dropzone{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	border-radius: 0;
}

#cndce-basic-details-container.dragenter #cndce-files-dropzone::before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 150;
}



#cndce-questions-header-col{
	-webkit-box-flex: 0;
    max-width: 11rem;	
    min-width: 11rem;
}


#cndce-questions-header{
	min-height: 100%;
}

#cndce-questions-header .cndce-question-header{
	background-color: #f5f5f5;
	color: #909090;
	font-weight: normal;
	letter-spacing: 0.1rem;
	cursor: pointer;
	min-height: 5rem;

	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-flex-shrink: 0;
	    -ms-flex-negative: 0;
	        flex-shrink: 0;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	   -moz-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}

#cndce-questions-header .cndce-question-header.active{
	position: relative;
	background-color: white;
	color: #4285f4;
	border-right: 5px solid #4285f4;
	font-weight: bold;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, .06);
}

#cndce-questions-header .cndce-question-header:not(.active):hover{
	background-color: white;
	/*color: #4285f4;*/
	border-right: 5px solid #d0d0d0;
	/*font-weight: bold;*/
}



#cndce-questions-container .cndce-question-details{
	display: none;
}

#cndce-questions-container .cndce-question-details.active{
	display: block;
}


#cndce-questions-container .cndce-question-num{
	background-color: #f1f1f1;
	height: 100%;
	border-radius: 1rem;
	height: 10rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	padding: 0.5rem;
	cursor: pointer;

}

#cndce-questions-container .cndce-question-num:hover{
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important
}

#cndce-questions-container .cndce-question-num.active{
	background-color: #4183f1;
	color: white;
}

#cndce-questions-container .cndce-question-num .cndce-num{
	text-align: center;
}

#cndce-questions-container .cndce-question-num.active .cndce-num{
	font-weight: bold;
	font-size: 1.5rem;
}

#cndce-questions-container .cndce-question-num label{
	color: white;
	font-weight: bold;
	-webkit-transform: translateY(0.3rem);
	   -moz-transform: translateY(0.3rem);
	    -ms-transform: translateY(0.3rem);
	     -o-transform: translateY(0.3rem);
	        transform: translateY(0.3rem);
	left: 0.3rem;
	font-size: 0.8rem;
}

#cndce-questions-container .cndce-question-num input:focus + label,
#cndce-questions-container .cndce-question-num label.active{
	-webkit-transform: translateY(-1rem);
	   -moz-transform: translateY(-1rem);
	    -ms-transform: translateY(-1rem);
	     -o-transform: translateY(-1rem);
	        transform: translateY(-1rem);
	font-size: 0.8rem;
}

#cndce-questions-container .cndce-question-num input:not(.search){
	background: #ffffff78 !important;
	color: white;
	border-radius: 0.5rem;
	border: none;
	padding: 0.2rem;
	line-height: 1.5rem;
	font-size: 0.8rem;
	width: 100%;
	height: auto;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
}

#cndce-questions-container .cndce-question-details-form.was-validated .cndce-question-num input:not(.search):invalid{
	background: #dc5b5b !important;
}

#cndce-questions-container .cndce-question-num .caret{
	top: 0.4rem;
}


#cndce-questions-container .cndce-question-num .md-form{
	margin: 0.5rem 0;
}

#cndce-questions-container .cndce-question-num .cndce-select-wrapper .mdb-main-label{
	top: 0;
}


#cndce-questions-container .cndce-question-num .cndce-question-input{
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#cndce-questions-container .cndce-question-num:not(.active) .cndce-question-input{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 0;
	   -moz-box-flex: 0;
	    -ms-flex: 0 0 0px;
	        flex: 0 0 0;
	max-height: 0;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

#cndce-survey-container .cndce-question-num .cndce-question-input-goto,
#cndce-survey-container .cndce-question-details:last-child .cndce-question-num .cndce-question-input-goto{
	display: none;

}

#cndce-survey-container.cndce-survey-skip-enabled .cndce-question-num .cndce-question-input-goto{
	display: block;
}




/* PREVIEW CONTAINER */
#cndce-survey-container #cndce-preview-container{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	opacity: 0;
	z-index: -1;
	font-weight: normal;
	background: white;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;

	-webkit-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

#cndce-survey-container.cndce-preview #cndce-preview-container{
	opacity: 1;
	z-index: 100;
}

#cndce-survey-container #cndce-preview-container .cndce-icon{
	font-size: 2.5rem;
	margin-right: 0.5rem;
}

#cndce-survey-container #cndce-preview-container b{
	font-size: 83%;
	opacity: 0.3;
	letter-spacing: 1px;
}

#cndce-survey-container #cndce-preview-container .cndce-questions-preview .cndce-dtmf-key{
	display: none;
}

#cndce-survey-container #cndce-preview-container .cndce-questions-preview .cndce-dtmf-key.active{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}

#cndce-survey-container #cndce-preview-container .cndce-questions-preview .cndce-preview-question-goto-col{
	display: none
}

#cndce-survey-container.cndce-survey-skip-enabled #cndce-preview-container .cndce-questions-preview .cndce-preview-question-goto-col{
	display: block;
}


#cndce-survey-container #cndce-preview-container .cndce-questions-preview:last-child .cndce-preview-question-goto-col{
	visibility: hidden;
}